.invited-main {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invited-container {
    width: 40%;
    background-color: white;
    box-shadow: 1px 1px 5px 0px #d9d9d9;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in-detail-div {
    margin: 20px 0;
}

.event-title {
    display: block;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.event-description {
    text-align: center;
}

.invite-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.in-key {
    font-weight: 500;
    font-size: 15px;
}

.in-value {
    font-size: 15px;
}

.buy-btn {
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}