.customProgress:global(.ant-progress .ant-progress-circle-path) {
    stroke-width: 20px !important;
}

.customProgress:global(.ant-progress .ant-progress-circle-trail) {
    stroke-width: 20px !important;
}

.customProgress:global(.ant-progress .ant-progress-text) {
    color: #000000 !important;
    font-size: 22px;
    font-weight: 500;
}

.statsMain {
    height: 100%;
    max-height: 540px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.progressText {
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0px;
}

.progressDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.statsHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.statsH1 {
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.statsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FF6B35;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 2px 5px;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.statsBox {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
}

.statsInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.statsHeading {
    font-size: 14px;
    font-weight: 500;
}

.statsValue {
    font-size: 14px;
    font-weight: 500;
    padding: 3px 15px;
    border-radius: 4px;
    width: fit-content;
    color: #3b3b3b;
}