.navbarlogo {
  flex: 1;
}

.logoText {
  font-size: 1.8rem; /* Compact size */
  font-weight: 700;
  color: transparent; /* Text itself is transparent */
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  background: linear-gradient(90deg, #ff6f61, #ff9e61, #ffdd61, #6bff61, #61baff, #9161ff, #ff61a7); /* Animated gradient */
  background-size: 300%;
  -webkit-background-clip: text; /* Clips background to text */
  background-clip: text; /* Ensures the effect is applied */
  animation: moveColors 5s linear infinite; /* Animation for moving colors */
}

@keyframes moveColors {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.logoText:hover {
  color: #0077cc; /* Highlight color */
  transform: scale(1.05); /* Subtle hover effect */
}
.signup-logo {
  display: flex;
  justify-content: center;
  align-items: centers;
}
@media (max-width: 768px) {
  .logoClass{
    width: 100px !important; 
    height: 35px !important;
  }
  }
@media (max-width: 468px) {
  .logo_facturas {
    font-size: 40px;
  }
  .logoClass{
    width: 100px !important; 
    height: 35px !important;
  }
}
