body {
  font-family: Arial, sans-serif;
  /* background: #12c2e9;
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  );
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); */

  margin: 0;
  padding: 0;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 145px); */

}

.form-signup {
  width: 40%;
  padding: 25px !important;
  background: #fffdfd54;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.signup-form {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.signup-form .form-row {
  display: flex;
  gap: 10px;
}

.signup-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.checkbox-line {
  font-size: 10px !important;
}

.signup-form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-form input,
.signup-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.signup-form input:focus,
.signup-form select:focus {
  border-color: #1e90ff;
  /* Blue border for focus */
  outline: none;
}

.signup-form .checkbox {
  flex-direction: row;
  align-items: center;
}

.signup-form .checkbox input {
  margin-right: 10px;
  width: auto;
}

.signup-form a {
  color: #5e4d1a !important;
  /* Yellow link */
  text-decoration: underline;
}

.signup-form a:hover {
  color: #ffab00;
  /* Darker yellow link on hover */
}

.btn-submit-signup {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 0.6em;
  width: 100%;
  height: 42px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.btn-submit-signup:active,
.btn-submit-signup:hover {
  outline: 0;
}

.btn-submit-signup span {
  background-color: rgb(255 255 255 / 35%);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btn-submit-signup:hover span {
  background: none;
}

@media screen and (max-width:1024px) {
  .form-signup {
    width: 70%;
  }
}

@media screen and (max-width:768px) {
  .form-signup {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .btn-submit-signup {
    font-size: 15px;
    min-width: 196px;
  }
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.ant-form-item {
  margin: 0px !important;
}