 .orderDetailBox {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.orderDetailHeader {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0px;
}

.orderDetailRight {
    display: flex;
    justify-content: space-between;
}

.orderDetailInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.orderName {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.orderDesc {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

.orderDetailDateDiv,
.orderDateDiv {
    display: flex;
    align-items: center;
}

.orderDetailDateDiv {
    gap: 10px;
}

.orderDateDiv {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    gap: 5px;
}

.orderDate {
    font-size: 14px;
}

.orderDetailPriceDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderPriceDiv {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 25px;
    color: #ffffff;
}

.orderClientDiv {
    display: flex;
    gap: 6px;
}

.orderClientDetail {
    display: flex;
    flex-direction: column;
}

.orderClientName {
    font-size: 15px;
    color: #ffffff;
    display: block;
    line-height: 20px;
}

.orderClientH2 {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.orderDetailFooter {
    padding: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.orderID {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
}

.completedOrderDiv {
    color: #4ade80;
    background: rgba(34, 197, 94, 0.1);
    border: 1px solid rgba(34, 197, 94, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: 11px 15px;
    border-radius: 10px;
}

.completedOrderRatingDiv {
    display: flex;
    align-items: center;
    gap: 6px;
}

.completedOrderDate {
    font-size: 14px;
}

.completedOrderRatings {
    font-size: 13px;
}

.completedOrderRate:global(.ant-rate) {
    font-size: 15px !important;
}

@media screen and (max-width: 768px) {
    .orderDate {
        font-size: 10px;
    }

    .orderDetailBox {
        padding: 10px 0px;
    }
}


