.content {
  padding: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

.categoryCard {
  margin-bottom: 24px;
}

@media screen and (max-width:600px) {
  .content {
    padding: 0;
  }
}