.bannerContainer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.bannerImage {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  height: 200px;
  width: 550px;
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 55px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bannerTagline {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.bannerMain {
  padding: 0px 4rem;
  background: #f9f9f9;
}

@media screen and (max-width:1024px) {
  .bannerMain {
    padding: 0px 2rem;
  }
}

@media screen and (max-width:600px) {
  .bannerText {
    width: auto;
    font-size: 2rem;
  }

  .bannerMain {
    padding: 0;
  }
}