.headerMain {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

/* .profileDetail{

} */
.imgSection {
    position: relative;
    width: fit-content;
}

.onlineDot {
    color: #6ebf6e;
    font-size: 25px;
    position: absolute;
    top: 75%;
    right: 0%;
}

.offlineDot {
    color: #a7a7a7;
    font-size: 25px;
    position: absolute;
    top: 75%;
    right: 0%;
}

.profileImg {
    border-radius: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.infoSection {
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nameSection {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profileName {
    font-size: 22px;
    font-weight: 600;
}

.userName {
    color: gray;
    font-size: 14px;
    font-weight: 500;
}

.profileTagLine {
    font-weight: 500;
    color: #262626;
}

.descriptionDiv {
    position: relative;
    width: 800px;
    color: #545454;
    font-weight: 500;
}

.profileDescription {
    font-size: 12px;
    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.readMoreBtn {
    color: rgb(66, 66, 66);
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 4px;
}


.profileContactInfo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.contactInfoDiv {
    display: flex;
    align-items: center;
    color: #2c2c2c;
    gap: 3px;
}

.contactInfoValue {
    font-size: 12px;
}

.secondSectionDiv {
    /* width: 12%; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.secondSection {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 6px;
}

.secondSectionKey {
    color: rgb(106 106 106);
    font-size: 15px;
    font-weight: 500;
}

.totalEarningPrice {
    font-size: 25px !important;
    display: block;
}

.secondSectionValue {
    font-size: 16px;
    font-weight: 500;
    color: rgb(38, 38, 38);
}

.ratingValue {
    display: block;
    font-size: 35px;
}

.overallText {
    color: gray;
    font-size: 10px;
    font-weight: 500;
}

.ratingDiv {
    display: flex;
    align-items: center;
    gap: 2px;
}

.ratingDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editInfo {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 3px;
    top: 0%;
    right: 0;
    font-size: 10px;
    color: #2a84e8;
    font-weight: 600;
}

.editBtn {
    font-size: 14px;
}