.container {
    padding: 25px;
    background-color: #f5f5f5;
}

.disabledRow {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #f5f5f5;
}

.filterDiv {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

.filterContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}

.statsContainer {
    margin: 15px 0;
}

.statsCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.statsCard {
    background-color: white;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 130px;
    padding: 0 20px;
}

.statsCardDiv {
    display: flex;
    align-items: center;
    gap: 15px;
}

.iconDiv {
    padding: 8px;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 43px;
}

.statsCardIcon {
    font-size: 24px;
}

.blueIcon {
    background-color: #e2e2fc;
    color: blue;
}

.greenIcon {
    background-color: #eefce2;
    color: green;
}

.yellowIcon {
    background-color: #fef9c2;
    color: #b7a801;
}

.redIcon {
    background-color: #ffe2e2;
    color: red;
}

.statsCardTitle {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #6f6f6f;
}

.statsCardValue {
    color: #535353;
    font-size: 25px;
}