.carouselContainer {
  background-color: #f8f9fa;
  padding: 50px 20px;
}

.carouselHeader {
  text-align: center;
  margin-bottom: 40px;
}

.carouselTitle {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.carouselDescription {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

.carouselSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.carouselImage {
  width: 250px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.visionaryTitle {
  background: linear-gradient(to right, #4b50c3, #3a9af7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* for Firefox */
  font-weight: bold;
}

.exploreBtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exploreBtn {
  font-size: 20px;
  padding: 10px 35px;
  font-weight: 500;
  color: black;
  border-radius: 12px;
  border: 1px solid #6241d4;
}

.exploreBtn:hover {
  background-color: #6241d4 !important;
  color: white !important;
}

.vsImagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vsImagesDiv {
  width: 1000px;
  height: 360px;
}

.vsImages {
  width: 100%;
  height: 100%;
}