.ad-dashboard-heading {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 30px;
}

.ad-dashboard-tab .ant-tabs-nav::before {
    top: 50px;
}

.ad-dashboard-tab .ant-tabs-nav {
    margin: 0 0 5px 0;
}

.table {
    padding: 30px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-ch {
    width: 1200px;
}

.actionBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    position: relative;
}