.fullscreen-modal {
    width: unset !important;
    height: 100vh !important;
    top: 0 !important;
    margin: unset !important;
    max-width: unset !important;
    max-height: unset !important;
    padding: 0 !important;
}

.fullscreen-modal .ant-modal-content {
    height: 100vh;
}

.fullscreen-modal .ant-modal-body {
    height: 90% !important;
}

.chord-container {
    display: flex;
    gap: 20px;
    height: 100%;
}

.chord-pad-div {
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.chord-pad {
    width: 100%;
    height: 100% !important;
}

.editors-div {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    width: 30%;
    padding: 20px;
}

.editors-list {
    height: 95%;
    max-height: 95%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.editors-list::-webkit-scrollbar {
    display: none;
}

.editor-div-heading {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.editors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.editor-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.editor-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.editor-name {
    font-size: 13px;
    font-weight: 500;
}

.lyric-chord-container {
    height: 185px;
    background-color: var(--transparentContainer);
    box-shadow: 1px 1px 6px 0px #1e1e1e;
    border-radius: 6px;
    padding: 20px;
}

@media screen and (max-width:960px) {
    .chord-container {
        flex-direction: column;
    }

    .editors-div {
        padding: 10px;
        width: 100%;
        max-height: 230px;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .editors-div::-webkit-scrollbar {
        display: none;
    }
}