.myNetworkHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.suggestedVisionarie {
    padding: 0px 24px;
}

@media screen and (max-width:768px) {
    .myNetworkHeader {
        flex-direction: column;
        align-items: normal;
        gap: 10px;
    }

    .suggestedVisionarie {
        padding: 0px;
    }
}