.cardMain {
    margin: 24px 0 24px 0;
    border-radius: 16px;
    /* border: 1px solid #8f98eb; */
    /* background-color: #efeeff; */
    box-shadow: 1px 1px 5px #e7e7e7;
    position: relative;
}

.cardTitle {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #474747;
}

.closeBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    right: 2%;
    top: 5%;
}

.cardHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}

.viewAllBtn {
    background-color: #5750f1;
    color: white;
    margin-top: 10px;
}