.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
    border-radius: 7% !important;
    width: 300px !important;
    height: 300px !important;
}

.profilePicInstructionList {
    font-size: 18px !important;
}

.listProfilePic {
    margin-bottom: 10px;
}

.Btn-style {
    margin-right: 8px !important;
    padding: 20px 40px !important;
    font-size: 16px !important;
}

.ant-form-item{
    margin-bottom: 15px !important;
}