.main-auth-card-container {
    height: 100vh;
}

.ant-form-item {
    margin: 20px !important;
}

.card-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 100%;
}

.auth-card {
    padding: 50px;
    background: #0000002e;
    border-radius: 5px;
    box-shadow: rgb(69 69 69 / 26%) 0px 3px 8px;
}

.auth-link-container {
    margin-top: 20px;
}

.auth-form-link {
    text-align: center;
    font-size: 14px;
}

.auth-form-link a {
    color: #4907ff;
    font-size: 12px;
}

.auth-form-link a:hover {
    color: rgb(116, 114, 251);
    text-decoration: underline;
}

.auth-submit-btn {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF !important;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    font-weight: 500 !important;
    justify-content: center;
    line-height: 0.6em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer !important;
    height: 45px !important;
}

.auth-submit-btn:active,
.auth-submit-btn:hover {
    outline: 0;
    color: #fff !important;
    background-image: linear-gradient(144deg, #9a27ec, #341bd6 50%, #0395a0) !important;
}

@media (min-width: 768px) {
    .auth-submit-btn {
        font-size: 15px;
        min-width: 196px;
    }
}