.event-card {
    width: 275px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .event-image img {
    cursor: pointer;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .event-details {
    padding: 15px;
  }
  
  .event-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .event-date-time,
  .event-location,
  .event-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
  }
  
  .join-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .join-button:hover {
    background-color: #218838;
  }
  