.callDiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    max-height: 500px;
    position: relative;
}

.userDetails {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 5%;
    gap: 10px;
    height: fit-content;
}

.speakingBorder {
    box-shadow: 0 0 18px 3px rgba(0, 255, 170, 0.61);
}

/* @keyframes pulse {
    0% {
        box-shadow: 0 0 8px 0 rgba(0, 255, 170, 0.26);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 26px 6px rgba(0, 255, 170, 0.30);
        transform: scale(1.01);
    }

    100% {
        box-shadow: 0 0 8px 0 rgba(0, 255, 170, 0.26);
        transform: scale(1);
    }
} */

/* optional: a more subtle glow class */
.speakingBorderSubtle {
    border: 4px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 12px 2px rgba(0, 255, 170, 0.18);
}