.fitnessModal {
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    margin: unset !important;
    max-width: unset !important;
    max-height: unset !important;
    padding: 0 !important;
}

.fitnessModal:global(.ant-modal .ant-modal-content) {
    height: 100vh !important;
    max-height: 100vh !important;
    overflow: auto;
    padding: 0;
    background-color: #F8F9FA !important;
}

.fitnessModal:global(.ant-modal .ant-modal-header) {
    padding: 20px !important;
    box-shadow: 1px 1px 5px 0px #e9e9e9 !important;
}

.fitnessModal:global(.ant-modal .ant-modal-body) {
    max-height: 100vh;
    padding: 0 !important;
}

.eventTime {
    display: flex;
    align-items: center;
    gap: 8px;
}

.streamDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.streamStatus {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 600;
}

.statusDot {
    width: 8px;
    height: 8px;
    background: #ff4444;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}