.artistInfo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #cbcbcb;
}

.artistInfoHeader {
    display: flex;
    gap: 10px;
}

.artistImageBg {
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to right, #3b82f6, #8b5cf6);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.artistName,
.artistCat {
    display: block;
}

.artistName {
    font-size: 18px;
    font-weight: 500;
}

.artistCat {
    font-size: 13px;
    color: #6b7280;
}

.artistInfoDesc {
    margin: 10px 0;
    word-break: break-word;
}

.artistInfoFooter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.artistInfoFooterButton {
    font-weight: 500;
}