.calendar-section {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.calendar-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.calendar-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-button:hover {
  background-color: #0056b3;
}
.calendar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
