.live-stream-main {
    height: 100vh;
    display: grid;
    grid-template-columns: 75% 23%;
    gap: 25px;
    padding: 20px;
}

.stream-container {
    display: flex;
    flex-direction: column;
}

.stream-box {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.icons {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 100%;
    background-color: #3A3A3A;
    color: white;
    box-shadow: 5px 5px 5px 0px #101010;
}

.chat-box {
    box-shadow: 1px 1px 10px 0px #818181;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    justify-content: space-between;
}

.participants {
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

.user-image {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.user-name {
    display: block;
    font-size: 13px;
    font-weight: 600;
}

.user-message {
    font-size: 12px;
    line-height: 1rem;
}

.lv-messages {
    height: 500px;
    max-height: 500px;
    overflow: auto;
    padding: 10px 15px;
    /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */

}

/* For WebKit-based browsers */
.lv-messages::-webkit-scrollbar {
    display: none;
}

.input-box {
    padding: 0 20px;
}

.call-user-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.call-div {
    width: 100%;
    height: 100%;
}