.card {
  margin: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.paragraph {
  font-size: 1rem;
}

.image {
  border-radius: 8px;
  max-width: 390px;
  height: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex: 1;
}

@media (max-width: 767px) {
  .card {
    margin: 20px 0 0 0;
  }

  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}