/* MenuStyles.css */
.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 15px !important;
  font-weight: 500 !important;
  background-color: #f5f5f5 !important;
  width: 100%;
  letter-spacing: 1px;
  padding: 10px 20px !important;
}

@media screen and (max-width: 1024px) {
  .menu {
    max-width: 100%;
    overflow: auto;
  }
}