.art-exhibit-modal {
  width: unset !important;
  height: 100vh !important;
  top: 0 !important;
  margin: unset !important;
  max-width: unset !important;
  max-height: unset !important;
  padding: 0 !important;
}

.art-exhibit-modal .ant-modal-content {
  height: fit-content;
  padding: 0;
  background-color: #f1f1f1;
}

.art-exhibit-modal .ant-modal-body {
  height: 80% !important;
  padding: 20px 45px;
}

.art-exhibit-modal .ant-modal-header {
  padding: 15px 45px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.more-artworks {
  width: 100%;
  min-height: 80vh;
  height: fit-content;
}

.more-artwork-div {
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.host-content {
  display: flex;
  flex-direction: column;
}

.gallery-title {
  display: block;
  font-weight: bold;
}

.host-name {
  font-size: 12px;
  color: #666;
  font-weight: 500;
}

.art-exhibit-container {
  width: 100%;
  display: flex;
  gap: 35px;
}

.add-artwork-button {
  width: 15%;
}

.add-artwork-button-btn {
  padding: 20px 15px;
}

.add-button,
.cancel-button {
  padding: 17px 30px;
  font-size: 15px;
}

.sidebar-right {
  width: 40%;
}

@media screen and (max-width:900px) {
  .art-exhibit-modal .ant-modal-header {
    padding: 15px 10px;
  }

  .modal-header {
    padding: 20px 0;
  }

  .gallery-title {
    font-size: 25px;
  }

  .add-artwork-button {
    width: auto;
  }

  .art-exhibit-modal .ant-modal-body {
    padding: 20px 10px;
  }

  .art-exhibit-container {
    flex-direction: column;
    gap: 0;
  }

  .sidebar-right {
    width: 100%;
  }
}