.addNoteInputDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 400px;
}

.addNoteInput {
    padding: 10px;
}

.visionaryName {
    font-size: 16px;
    display: block;
    font-weight: 500;
}

.notePara {
    background-color: #cbd0ff;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
}