.editServiceModal {
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    margin: unset !important;
    max-width: unset !important;
    max-height: unset !important;
    padding: 0 !important;
}

.editServiceModal:global(.ant-modal .ant-modal-content) {
    height: 100vh !important;
    max-height: 100vh !important;
    padding: 0;
    background-color: #F8F9FA !important;
}

.editServiceModal.editServiceModal:global(.ant-modal .ant-modal-header) {
    padding: 20px !important;
    box-shadow: 1px 1px 5px 0px #e9e9e9 !important;
}

.editServiceModal:global(.ant-modal .ant-modal-body) {
    padding: 20px;
    height: 100%;
    max-height: 80vh;
    overflow: auto;
}